@{
    ViewBag.Title = "Exercício";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Exercício de fixação</h3>

    <a href="https://learn.microsoft.com/pt-br/dotnet/csharp/language-reference/builtin-types/integral-numeric-types" target="_blank">C# | TIPOS DE DADOS</a>
</main>