@{
    ViewBag.Title = "Adriel e Felipe";
}

<main>
    <p>MVC é um padrão de projeto de programação, que quer dizer Model-View-Controller. Model sendo o plano de negócios (parte dos dados), 
    View sendo a parte visual onde será mostrado os dados e Controller o controlador dos dados, entregando e manipulando eles da Model para a View.
    </p>
</main>