
@{
    ViewBag.Title = "Nota";
}

<h2>Calculando minha nota</h2>
<form action="CalculaNota" method="get">
    <label for="ErrosAluno">Digite a quantidade de erros: </label>
    <input type="number" name="Erros" required> <br> <br>
    <button type="submit">Calcular</button>
</form>