@model ExeEduLipeIII.Models.Funcionario

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastre um Funcionário</h2>
<h4 style="background-color: red; color: white;">@TempData["InputNull"]</h4>
<form action="SelectFunc" method="post">
    <div>
        <label for="FuncionarioCodigo">Código</label> <br>
        <input type="number" name="Codigo">
        
    </div>
    <div>
        <label for="FuncionarioNome">Nome</label> <br>
        <input type="text" name="Nome" value="@TempData["Nome"]">
    </div>
    <div>
        <label for="FuncionarioFuncao">Função</label> <br>
        <input type="text" name="Funcao" value="@TempData["Funcao"]">
    </div> <br> 
    <button type="submit">Cadastrar</button>
</form>

