@model ExeEduLipeIII.Models.Funcionario

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

<form action="SelectFunc" method="get">
    <div>
        <label for="Codigo">Código</label> <br>
        <input type="number" value="@Model.Codigo" name="Codigo">
    </div>
    <div>
        <label for="Nome">Nome</label> <br>
        <input type="text" value="@Model.Nome" name="Nome">
    </div>
    <div>
        <label for="Funcao">Função</label> <br>
        <input type="text" value="@Model.Funcao" name="Funcao">
    </div> <br> 
    <button type="submit">Cadastrar</button>
</form>

