
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Página do Aluno</h1>

        <h1>@ViewBag.Primeira</h1>
        <h1>@ViewData["Pri"]</h1>
    </div>


</body>
</html>
