
@{
    Layout = null;
    ViewBag.Title = "Resultado";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultado</title>
</head>
<body>
    <div> 
        <h2>Resultado</h2>
        <h2>@ViewBag.Exemplo2</h2>
        <h2>@TempData["Exemplo"]</h2>
    </div>
</body>
</html>
