
@{
    Layout = null;
    ViewBag.Title = "Teste";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teste</title>
</head>
<body>
    <div> 
        <h2>Teste</h2>
    </div>
</body>
</html>
