@{
    ViewBag.Title = "Contact";

}
    <h2 id="title">@ViewBag.Title.</h2>
    
    @section rodapeEspecifico {
        <div>
            <img src="~/img/tart.jpg" width="100" />
        </div>
    }

@Styles.Render("~/Content/Teste.css")