
@{
    ViewBag.Title = "Estudo";
}

    <div> 
        <h1>@ViewData["Alu"]</h1>

        <h2>@ViewBag.Aluno<h2>

        <h2>@ViewData["AlunoCheck"]<h2>

        <h2>@Html.ActionLink("Google", "RedirectGoogle", "Aula")</h2>
</div>

